<template>
    <v-card rounded="lg" class="ma-0 pa-0" width="500" height="190" color="blue" style="overflow: hidden;">
        <v-row class="ma-0 pa-0 pa-5">
            <v-col class="ma-0 pa-0 mr-n3" cols="3">
                <v-avatar size="80">
                    <img
                        :src="data.account.avatar"
                    />
                </v-avatar>
            </v-col>
            <v-col class="ma-0 pa-0 ml-n3" cols="9">
                <div style="color:white" class="ma-0 pa-0" v-html="data.content"></div>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
export default {
    props:{
        data:{
            type: Object,
            default: () => ({})
        }
    }
}
</script>