<template>
    <div class="ma-0 pa-0">
        <v-row class="ma-0 pa-0" justify="center">
                <div class="ma-0 pa-0">
                    <div class="ma-0 pa-0 pt-5" style="display:flex; flex-wrap: wrap;">
                        <div class="ma-0 pa-0 mx-3 mt-5" v-for="(item,index) in streamData" :key="index" >
                            <display-card :data="item.data"></display-card>
                        </div>
                    </div>
                </div>
        </v-row>
    </div>
</template>

<script>
import displayCard from "./displayCard.vue"
export default {
    components:{
        displayCard
    },

    data: function(){
        return {
            streamData: []
        }
    },

    mounted() {
        let url1 = "https://mastodon.online/api/v1/streaming/public";
        let url2 = "https://noagendasocial.com/api/v1/streaming/public";

        this.getStreamData(url1);
        this.getStreamData(url2);
    },

    methods:{
        async getStreamData(url){

            let justLoaded = false;

            let completed = false;
        
            let _this = this;

            let remStr = "";

            fetch(url)
            .then(response => response.body)
            .then(rb => {
                const reader = rb.getReader();

                return new ReadableStream({
                    start(controller) {
                        let jsonString = "";

                        function push() {
                            reader.read().then( ({done, value}) => {

                            if (done) {
                                console.log('done', done);
                                controller.close();
                                return;
                            }

                            if(justLoaded === true){
                                controller.enqueue(value);
                            
                                let newString = Buffer.from(value).toString('utf8').trim();

                                if(newString.indexOf(":thump") > -1){
                                    let jsonArr = newString.split(":thump");
                                    jsonArr = jsonArr.map((elem) => elem.trim());
                                    newString = jsonArr.join("");
                                }

                                let aa = newString.indexOf("event: update");
                                if(aa > -1){

                                    let jsonArr1 = newString.split("event: update");
                                    jsonArr1 = jsonArr1.map((elem) => elem.trim());
                                    newString = jsonArr1.join("event: update");
                                    jsonString += newString;

                                    let jsonArrU = jsonString.split("event: update");
                                    if(jsonArrU[0] === ""){
                                        jsonArrU.shift();
                                    }
                                    
                                    
                                    if(jsonArrU.length > 1){
                                        jsonString = "event: update" +jsonArrU[0];

                                        if(jsonString.indexOf("event: delete") > -1){
                                            let jsonArr11 = jsonString.split("event: delete");
                                            jsonString = jsonArr11[0].trim();   
                                        }

                                        let d = jsonString.split("event: update")[1].trim().split(":").slice(1);
                                        d[0] = d[0].trim();
                                        let data = JSON.parse(d.join(":"));

                                        data["urlPath"] = url;
                                    

                                        let dataObj = {
                                            event: "update",
                                            data: data
                                        };
                                        _this.streamData.unshift(dataObj);

                                        remStr = "event: update" + jsonArrU.slice(1).join("event: update");
                                        completed = true;
                                    }
                                
                                }
                                else{
                                    jsonString += newString;
                                }
                               
                            }

                            if(completed){
                                jsonString = remStr;
                                completed = false;
                            }
                            
                            justLoaded = true;
                            push();
                            })
                        }
                        push();
                    }
                });
            })
            .then(stream => {
            // Respond with our stream
            return new Response(stream, { headers: { "Content-Type": "text/html" } }).text();
            })
            .then(result => {
            // Do things with result
            console.log(result);
            console.log("shamsail");
            });


        },
    }
}
</script>